{% extends "master.html" %}

{% block title %}
Profile
{% endblock %}

{% block content %}
<div class="container">
    <div class="profile-container">
        <h1 class="title">
            Profile
        </h1>

        <div class="profile-info">
            <h2 class="profile-username">User Name: {{ user.username }}</h2>
            <p class="profile-firstname">First Name: {{ user.first_name }}</p>
            <p class="profile-firstname">Last Name: {{ user.last_name }}</p>
            <p class="profile-email">Email: {{ user.email }}</p>
        </div>
    </div>

</div>
{% endblock %}`